# Configuración general de Django
DJANGO_SECRET_KEY= Codigo secreto
DJANGO_DEBUG=True

# Configuración de la base de datos MySQL
DB_NAME= nombre bd
DB_USER= nombre usuario
DB_PASSWORD= contraseña
DB_HOST= host
DB_PORT= port